*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto Mono,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.header{
    background-image:linear-gradient(rgba(15, 6, 52, 0.3), rgba(12,3,51,0.3)) ,url(logo.jpg);
    background-size:cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    padding: 20px 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-color:rgba(236, 238, 248, 0.7);
    border-radius: 20px;
     */
}
nav img{
    width: 40px;
    height: 38px;
    border-radius: 58%;
    padding: 20px 60px;
}
.nav-links ul li{
    display: inline-block;
    padding: 20px 15px;
}
.nav-links ul li a{
    text-decoration: none;
    padding-right: 40px;
    border-right: 1px solid rgb(184, 182, 182);
    color: rgb(255, 255, 255);
}
.nav-links ul li a:hover{
    font-weight: 700;
}
.nav-links ul li:last-of-type a{
    border-right: none;
}
.contents h2{
    margin: 20px;
    font-weight: 400;
    color: #34495e;
    padding: 0;
    font-size: 30px;
}
p{
    margin: 0 0 15px;   
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 25px;
}


